* {
    box-sizing: border-box;
}


/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

/*.error {*/
/*  border: red 1px solid;*/
/*}*/

/*.error-message {*/
/*  color: red;*/
/*}*/

/*.active-filter {*/
/*  background-color: aquamarine;*/
/*}*/

.is-done {
  opacity: 0.5;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.list-container  {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textfild-container {
    display: flex;
    align-items: center;
    gap: 10px;
}